<div class="comments-container">
  <ul>
    <li> comment: <%= comment.body %> </li>
    <% if comment.user_id == current_user.id %>
      <li><%=link_to 'edit your comment', "reviews/#{review.id}/comments/#{comment.id}/edit" %></li>
    <%end%>
    <li>
      <%=form_for comment, :url =>{:action =>"update", :method=> "patch", :controller => "comments"} do |f| %>
      <%=f.hidden_field :flag, value: true %>
      <%=f.hidden_field :comment_id, value: comment.id %>
      <%=f.submit 'Flag as Inappropriate' %>
    </li>
  <%end%>
  </ul>
</div>
