<h1> Films Show </h1>

<h2> <%= @film.name %> </h2>

<% if @film.live %>
  <p>
    Winner Of The <%= @film.category.name.capitalize %> Category
  </p>
<% end %>

<%= @film.description %>

<%= @film.cast %><br>

<%= @film.crew %><br>

<% if @film.ratings %>
  <p>Average audience rating:<%= @film.user_avg %></p>
  <p>Average judge rating:<%= @film.judge_avg %></p>
<%end%>

<p>Rate this film:</p>

<% if logged_in? %>
  <%= form_for @film, method: :post, url: :film_rating do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :film_id, value: @film.id %>
  <%= f.select :ratings, [5, 4.5, 4, 3.5, 3, 2.5, 2, 1.5, 1], :prompt => 'Select One' %>

  <%=f.submit %>

  <%end%>
<% else %>
  <p>
    Please <a href="/signup">Signup</a> or <a href="/login">Login</a> to rate this film
  </p>
<% end %>

<h2>Reviews for <%=@film.name %></h2>




<h3> <%= @film.name %>'s Reviews: </h3>

<div id="review-container">
  <% @reviews.each do |review| %>
    <h1> Review Title: <%= review.title %> </h1>
    <h3> Review Body: <%= review.body %> </h3>
    <p> Left by: <%=review.user.first_name %> <%=review.user.last_name %>
      <% if review.user.judge %>
        &#9733;<i>Judge review</i>
      <%end%>
    </p>

    <div class="outside-comments-container">
      <% review.comments.each do |comment| %>
        <%= render template: '/comments/_all_comments', locals: { comment: comment, review: review } %>
      <% end %>

      <% if logged_in? %>
        <%= link_to 'Create Comment', "/reviews/#{review.id}/comments/new", class: 'new-comment' %>
      <% end %><br>
    </div>
  <% end %>
</div>


<% if logged_in? %>
  <%= link_to 'Create a new review', "/films/#{@film.id}/reviews/new" %>
<% end %><br>

<%= link_to 'Back to Category list', "/categories/#{@film.category_id}"%>
