<div id="film_show">

<h1> <%= @film.name %> </h1>

<% if @film.live %>
  <p>
    Winner Of The <%= @film.category.name.capitalize %> Category
  </p>
<% end %>

<%= @film.description %>

<%= @film.cast %><br>

<%= @film.crew %><br>


<% if @film.ratings %>
<div id="ratings">
  <p>Average audience rating:<%= @film.user_avg %></p>
  <p>Average judge rating:<%= @film.judge_avg %></p>
<%end%>

<p>Rate this film:</p>

<% if logged_in? %>
  <%= form_for @film, method: :post, url: :film_rating do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :film_id, value: @film.id %>
  <%= f.select :ratings, [5, 4.5, 4, 3.5, 3, 2.5, 2, 1.5, 1], :prompt => 'Select One' %>

  <%=f.submit %>

  <%end%>
<% else %>
  <p>
    Please <a href="/signup">Signup</a> or <a href="/login">Login</a> to rate this film
  </p>
<% end %>
</div>
</div>
<div id="top_nav">
<% if logged_in? %>
<ul>
  <li><%= link_to 'create a new review', "/films/#{@film.id}/reviews/new" %>
<% end %>

<li><%= link_to 'back', "/categories/#{@film.category_id}"%></li>
</ul>
</div>
<div id="review_block">
<h2>Reviews for <%=@film.name %></h2>


<div id="review-container">
  <% @reviews.each do |review| %>
    <h3><%= review.title %> </h3>
    <h4> "<%= review.body %> "</h4>
    <p> left by: <%=review.user.first_name %> <%=review.user.last_name %>
      <% if review.user.judge %>
        <span id="judge">&#9733;<i>judge review</i></span>
      <%end%>
    </p>

    <div class="outside-comments-container">
      <% review.comments.each do |comment| %>
        <%= render template: '/comments/_all_comments', locals: { comment: comment, review: review } %>
      <% end %>

      <% if logged_in? %>
        <%= link_to 'create comment', "/reviews/#{review.id}/comments/new", class: 'new-comment' %>
      <% end %><br>
    </div>
  <% end %>



</div>



</div>

