<!DOCTYPE html>
<html>
<head>
  <title>FilmFest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=BenchNine:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<nav>
  <div id="box">
  <h3> LES FILM FEST 2016</h3>
  <% if logged_in? %>
    <a href="/">Home |</a>
    <% if current_user.organizer %>
      <a href="/dashboard">Dashboard  |</a>
    <% end %>
    <a href="/logout">Logout |</a>
  <% else %>
    <a href="/">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Categories</button>
      <div class="dropdown-content">
        <% Category.all.each do | category | %>
          <%= link_to category.name, category_path( category ) %>
        <% end %>
      </div>
    </div>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  <% end %>
</div>
</nav>
<div id="border">
</div>


<%= yield %>


</body>
</html>
